.emacs.d/auto-save-list/**
.emacs.d/*.last
.emacs.d/elpa/**
.emacs.d/eshell/**
.emacs.d/*~
.emacs.d/nov-places
.emacs.d/tramp
.emacs.d/tutorial/**
.emacs.d/.lsp-session-v1
.emacs.d/tutorial/**
.emacs.d/eln-cache/**
.emacs.d/games/**
.emacs.d/url/**
.emacs.d/config.el

.config/nvim/.netrwhist
